.form {
  padding-top: 150px;
  padding-bottom: 150px;
  @media (max-width: $breakpoint768) {
    padding-top: 108px;
    padding-bottom: 0;
  }
  .container {
    position: relative;
    &::after {
      content: "";
      padding: 0 20px;
      position: absolute;
      width: 100%;
      height: 2px;
      margin-top: 150px;
      background-color: #91918a;
      bottom: -150px;
      left: 0;

      @media (max-width: $breakpoint992) {
        bottom: -100px;
      }
      @media (max-width: $breakpoint480) {
        bottom: -70px;
      }
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  &__titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;

    .form__title-1 {
      font-size: 120px;
      font-weight: 500;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px white;

      display: flex;
      flex-direction: column;

      @media (max-width: $breakpoint992) {
        font-size: 54px;
      }
      @media (max-width: $breakpoint480) {
        font-size: 30px;
      }
    }

    .form__title-line {
      height: 2px;
      width: 100%;
      background-color: #91918a;
    }

    .form__title-2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 110px;
      color: #fff;

      @media (max-width: $breakpoint992) {
        font-size: 54px;
      }
      @media (max-width: $breakpoint480) {
        font-size: 30px;
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 120px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    span {
      color: transparent;
      -webkit-text-stroke: 1px white;
      // text-stroke: 1px white;
      margin-top: 4px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 160px;
      left: 15px;
      right: 15px;
      height: 2px;
      background-color: #91918a;

      @media (max-width: $breakpoint480) {
        top: 30px;
      }
    }
    @media (max-width: $breakpoint1450) {
      font-size: 90px;
      line-height: 115px;
    }
    @media (max-width: $breakpoint1450) {
      font-size: 65px;
      line-height: 72px;
    }
    @media (max-width: $breakpoint768) {
      min-width: 100%;
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: $breakpoint480) {
      min-width: 100%;
      font-size: 24px;
      line-height: 31px;
    }
  }
  &__btn {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding: 19px 32px;
    background: $green;
    border-radius: 99px;
    transition: all 0.4s;
    &:hover {
      background: $greenHover;
    }
  }
}

// Form
.contact-form {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: linear-gradient(76.85deg, #1e1f24 19%, #101010 93.03%);
  border: 1px solid #f0eff4;
  border-radius: 999px;
  padding: 18px 20px 18px 40px;
  @media (max-width: $breakpoint768) {
    min-width: 80%;
    flex-direction: column;
    max-width: 500px;
    border-radius: 30px;
    padding: 32px 24px;
    border-radius: 20px;
  }
  @media (max-width: $breakpoint480) {
    min-width: 100%;
    margin-bottom: 80px;
  }
}

input[type="text"],
textarea {
  font-family: "Onest";
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  outline: none;
  width: 250px;
  max-width: 100%;
  padding: 5px 5px 5px 0;
  transition: all 0.4s;
  position: relative;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #91918a;
  &::placeholder {
    color: $primaryGray;
  }

  @media (max-width: $breakpoint768) {
    min-width: auto;
    max-width: 100%;
    width: 100%;
  }
}
input[type="text"]:focus,
textarea:focus {
  // border: 2px solid transparent;
  transition: all 0.4s;
}
input[type="button"] {
  padding: 19px 30px;
  border: none;
  cursor: pointer;
  border-radius: 99px;
  @media (max-width: $breakpoint768) {
    font-size: 18px;
    max-width: 100%;
    width: 100%;
  }
}
input[type="button"]:hover {
  transition: all 0.2s;
}
input[type="button"]:active {
  transition: all 0.4s;
  top: 3px;
  box-shadow: none;
}
input[type="button"]:focus {
  position: relative;
  transition: all 0.2s;
  outline: none;
}
