/*----------------------- Общие ------------------------------ */
// Html
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  font-weight: 400;
  color: #fff;
  background-color: #0d0c0f;
}

.post,
.page {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;

  padding: 0 20px;

  @media (max-width: $breakpoint768) {
    padding: 0 $containerSidePadding + px;
  }
}

// Body Locked
body {
  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -2.4px;
  font-weight: 400;
  margin: 0 0 64px;

  @media (max-width: 1200px) {
    font-size: 52px;
  }

  @media (max-width: 992px) {
    font-size: 44px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
    letter-spacing: -1.2px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
    letter-spacing: -0.6px;
  }
}

h2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -2.4px;

  @media (max-width: 1200px) {
    font-size: 40px;
  }

  @media (max-width: 992px) {
    font-size: 36px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    letter-spacing: -1px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    letter-spacing: -0.5px;
  }
}

@media (max-width: $breakpoint1179) {
  .body-text {
    font-size: 48px;
  }
}

@media (max-width: $breakpoint992) {
  h2 {
    letter-spacing: normal;
  }
}

button {
  background-color: transparent;
  font-family: inherit;
}

//custom styles
.button {
  display: block;
  padding: 19px 32px;
  border-radius: 12px;
  background: #a6d700;
  text-decoration: none;
  color: #0d0c0f;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  letter-spacing: -0.6px;

  @media (max-width: $breakpoint768) {
    font-size: 16px;
    text-align: center;
  }
}

.t-upper {
  text-transform: uppercase;
}