.contacts {
  padding: 140px 0;
  background-color: #0d0c0f;
  color: #fff;

  &__inner {
    margin: 0 auto;
    // padding: 0 20px;
  }

  &__title {
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -2.4px;
    font-weight: 400;
    margin-bottom: 64px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__info {
    flex: 1 1 40%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li+li {
      margin-top: 24px;
    }
  }

  &__label {
    display: block;
    font-size: 16px;
    color: #a3a3a3;
    margin-bottom: 4px;
  }

  &__link {
    font-size: 24px;
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #c6ff00;
    }
  }

  &__form {
    flex: 1 1 55%;
    background-color: #151515;
    padding: 24px;
    border-radius: 16px;
    width: 100%;

    @include bp-md {
      padding: 40px;
      border-radius: 24px;
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        width: 100%;
        padding: 16px;
        border-radius: 8px;
        border: none;
        background: #1b1b1b;
        color: #fff;
      }

      input[type="submit"] {
        background-color: #c6ff00;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #b3e600;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__content {
      flex-direction: column;
    }

    &__form,
    &__info {
      flex: 1 1 100%;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 38px;
    }

    &__link {
      font-size: 18px;
    }
  }
}