@import "mixins";
@import "vars";

article {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 100px;
  font-family: "Montserrat-Medium";

  @include bp-sm() {
    font-size: 20px;
    line-height: 30px;
  }

  ul {
    margin-top: 16px;
    font-size: 16px;
  }

  p {
    font-family: "Montserrat-Medium";
    font-size: 15px !important;
    line-height: 1.5;
    margin-bottom: 24px;

    @include bp-lg {
      font-size: 20px !important;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a,
    a:hover,
    a:visited,
    a:focus,
    a:active {
      color: $accent;
      font-weight: bold;
    }

    @include bp-sm() {
      font-size: 17px !important;
    }

    @include bp-sm() {
      font-size: 20px !important;
    }
  }

  h2 {
    font-size: 24px;
    font-family: "Playfair Display-Bold";

    @include bp-lg() {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 14px;

    @include bp-lg() {
      font-size: 24px;
    }
  }
}

.main-blog-item__article-text {
  color: #121212;

  p {
    margin-bottom: 40px;
    font-family: "Montserrat-Medium";
  }
}

/*----------------------- Поделиться и Осценить статью ------------------------------ */

.wrap-action {
  border-bottom: 2px solid rgba(99, 99, 98, 0.2);
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.main-blog__content-vote {
  display: flex;
}

.share {
  display: flex;
  flex-direction: column;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.says {
  font-style: italic;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #121212;
  border-left: 5px solid $accent;
  padding-left: 25px;
  margin: 15px 0;

  @include bp-md() {
    font-size: 18px;
    line-height: 26px;
  }
}

.main-blog__post-link,
.main-blog__post-link:active,
.main-blog__post-link:focus,
.main-blog__post-link:visited,
.main-blog__post-link:hover {
  font-size: 28px;
  font-family: "Playfair Display-Bold", sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;

  @include bp-md {
    font-size: 36px;
  }
}
